*.gem
/.vagrant
*.rbc
*.swp
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
.env

# YARD artifacts
.yardoc
_yardoc
doc/
*test.*
sms-quickstart.rb
twiml-quickstart.rb
database.txt
Vagrantfile
todo.txt
stylesheets/
index.html.haml
